homeapps.code-workspace
applications/todo/
*.pb.go
microservice/servicemesh/.env
microservice/servicemesh/x509/server_cert.pem
microservice/servicemesh/x509/server_key.pem
bazel-bin
bazel-homeapps
bazel-out
bazel-testlogs
coverage.out
