go 1.21.5

use ./common/testutil

use ./common/common

use ./proto/eventbroker
use ./proto/servicemesh

use ./common/clients/eventbroker

use ./microservice/checklist
use ./microservice/servicemesh
use ./microservice/eventbroker
